In [ ]:
import pandas as pd
import numpy as np 
import math
import sklearn.metrics
from sklearn.metrics import mean_absolute_percentage_error as mape
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [ ]:
all=pd.read_csv('ai_article_ALL.csv', sep=';')
all=all[['ART_CINV','ART_DESC']]
all.shape

(61176, 2)

In [ ]:
f20=pd.read_csv('20201102.csv', sep=';')
f20.head(2)

,ART_CINV,ART_CINVO,H_DATE,FCT_ERROR,FCT_ERROR_NC,FCT_ERROR_QTY,FCT_VALUE,FCT_VALUE_WEEK_REF,FCT_DATE,DC_CODE,...,nm1,nm2,nm3,valRetenuesSpeD,valRetenuesPromo,valRetenuesHolidays,valRetenuesSansPromo,valRetenuesWeather,ART_SITE_KEY,valForError
0,1907718,1907718,20200727,0.1,0.0,0.0,0.0,0.0,20201102,90009,...,0.0,0.0,0.0,[ ],[ 0 . 0 ],[ ],[ 0 ],[ ],90009_1907718,"|||liens retenus:[1907718]||||[ 0 . 0 , ' - ..."
1,1907718,1907718,20200803,0.1,0.0,0.0,0.0,0.0,20201102,90009,...,0.0,0.0,0.0,[ ],[ ],[ ],[ 0 ],[ ],90009_1907718,"|||liens retenus:[1907718]||||[ 0 . 0 , ' - ..."

In [ ]:
f21=pd.read_csv('20210127.csv', sep=';')
f21.head(2)

,ART_CINV,ART_CINVO,H_DATE,FCT_ERROR,FCT_ERROR_NC,FCT_ERROR_QTY,FCT_VALUE,FCT_VALUE_WEEK_REF,FCT_DATE,DC_CODE,...,nm1,nm2,nm3,valRetenuesSpeD,valRetenuesPromo,valRetenuesHolidays,valRetenuesSansPromo,valRetenuesWeather,ART_SITE_KEY,valForError
0,1907732,1907732,20190729,0.1,0.0,0.0,0.0,0.0,20201102,90009,...,0.0,0.0,0.0,[ ],[ ],[ ],[ 0 ],[ ],90009_1907732,||||||| Second AI model:sansImpact|||| ||||lie...
1,1907732,1907732,20190805,0.1,0.0,0.0,0.0,0.0,20201102,90009,...,0.0,0.0,0.0,[ ],[ ],[ ],[ 0 ],[ ],90009_1907732,||||||| Second AI model:sansCorr|||| ||||liens...

In [ ]:
print(f20.shape, f21.shape)

(175392, 106) (331405, 109)

In [ ]:
f20['ART_CINV'].value_counts()

1907718    27
2397554    27
2498578    27
2490350    27
2486434    27
           ..
2220122    27
2219392    27
2218780    27
2218251    27
2856463    27
Name: ART_CINV, Length: 6496, dtype: int64

In [ ]:
f21['ART_CINV'].value_counts()

1907732    79
2562751    79
2569633    79
2572352    79
2575297    79
           ..
2244223    79
2245309    79
2246383    79
2247399    79
2980508    79
Name: ART_CINV, Length: 4195, dtype: int64

In [ ]:
print(f20['H_DATE'].min(), f20['H_DATE'].max())

20200727 20210125

In [ ]:
print(f21['H_DATE'].min(), f21['H_DATE'].max())

20190729 20210125

In [ ]:
f21['H_DATE'].max()

20210125

In [ ]:
f2020 = f20[f20['H_DATE']>=20201102]
f2021 = f21[f21['H_DATE']>=20201102]

In [ ]:
print(f2020['H_DATE'].value_counts().count(), f2021['H_DATE'].value_counts().count())

13 13

In [ ]:
print(f2020.shape, f2021.shape)

(84448, 106) (54535, 109)

In [ ]:
f_comb = f2020.merge(f2021, on=['ART_CINV', 'H_DATE'], suffixes=('_20','_21'), how='inner')
f = f_comb[['ART_CINV', 'H_DATE', 'FCT_VALUE_20', 'FCT_VALUE_21','REAL_VALUE_TO_FORECAST_21']]

f.tail(10)

,ART_CINV,H_DATE,FCT_VALUE_20,FCT_VALUE_21,REAL_VALUE_TO_FORECAST_21
52354,2849742,20201228,25.867466,22.785,4.0
52355,2849742,20210104,25.947890,20.920,5.0
52356,2849742,20210111,25.997791,24.210,7.0
52357,2849742,20210118,26.073209,26.195,4.0
52358,2849742,20210125,26.158679,25.170,1.0
52359,2861421,20201102,756.603524,510.000,700.0
52360,2861421,20201109,689.917348,510.000,540.0
52361,2861421,20201116,650.350019,510.000,560.0
52362,2861421,20201123,639.206892,510.000,600.0
52363,2861421,20201130,638.123894,510.000,490.0

In [ ]:
f.shape

(52364, 5)

In [ ]:
f = f.merge(all, how='left', on='ART_CINV')
f.head()

,ART_CINV,H_DATE,FCT_VALUE_20,FCT_VALUE_21,REAL_VALUE_TO_FORECAST_21,ART_DESC
0,1919435,20201102,0.0,0.0,0.0,50ML NIV CR REV Q10 HOMME SV1
1,1919435,20201109,0.0,0.0,0.0,50ML NIV CR REV Q10 HOMME SV1
2,1919435,20201116,0.0,0.0,0.0,50ML NIV CR REV Q10 HOMME SV1
3,1919435,20201123,0.0,0.0,0.0,50ML NIV CR REV Q10 HOMME SV1
4,1919435,20201130,0.0,0.0,0.0,50ML NIV CR REV Q10 HOMME SV1

In [ ]:
fk = f2020[f2020['ART_CINV']==2850158]
fk[fk['H_DATE']== 20210118][['ART_CINV', 'H_DATE', 'FCT_VALUE']]

       ART_CINV    H_DATE    FCT_VALUE
26216   2850158  20210118  1845.955566

In [ ]:
fk2 = f2021[f2021['ART_CINV']==2850158]
fk2[fk2['H_DATE']== 20210118][['ART_CINV', 'H_DATE', 'FCT_VALUE','REAL_VALUE_TO_FORECAST']]

        ART_CINV    H_DATE  FCT_VALUE  REAL_VALUE_TO_FORECAST
308705   2850158  20210118     1815.2                  1908.0

In [ ]:
fk3 = f[f['ART_CINV']==2850158]
fk3[fk3['H_DATE']== 20210118]

,ART_CINV,H_DATE,FCT_VALUE_20,FCT_VALUE_21,REAL_VALUE_TO_FORECAST_21,ART_DESC
7773,2850158,20210118,1845.955566,1815.2,1908.0,BRANDX GRATED CARROTS 350G SV1

In [ ]:
mse20 = sklearn.metrics.mean_squared_error(f['REAL_VALUE_TO_FORECAST_21'], f['FCT_VALUE_20'])
rmse20 = math.sqrt(mse20)
mae20 = sklearn.metrics.mean_absolute_error(f['REAL_VALUE_TO_FORECAST_21'], f['FCT_VALUE_20'])
mape20 = sklearn.metrics.mean_absolute_percentage_error(f['REAL_VALUE_TO_FORECAST_21'], f['FCT_VALUE_20'])

mse21 = sklearn.metrics.mean_squared_error(f['REAL_VALUE_TO_FORECAST_21'], f['FCT_VALUE_21'])
rmse21 = math.sqrt(mse21)
mae21 = sklearn.metrics.mean_absolute_error(f['REAL_VALUE_TO_FORECAST_21'], f['FCT_VALUE_21'])
mape21 = sklearn.metrics.mean_absolute_percentage_error(f['REAL_VALUE_TO_FORECAST_21'], f['FCT_VALUE_21'])

In [ ]:
print('Forecast from 2020.11.02: MSE =',int(mse20),'  RMSE = ',int(rmse20),'  MAE = ',int(mae20),' MAPE = ', int(mape20))
print('Forecast from 2021.01.27: MSE =',int(mse21),'  RMSE = ',int(rmse21),'  MAE = ',int(mae21),' MAPE = ', int(mape21))

Forecast from 2020.11.02: MSE = 25175362   RMSE =  5017   MAE =  1205  MAPE =  2254876539926654464
Forecast from 2021.01.27: MSE = 21733890   RMSE =  4661   MAE =  1086  MAPE =  2098466716367424512

In [ ]:
f_ar=mape(f[f['ART_CINV']==2850158]['REAL_VALUE_TO_FORECAST_21'], f[f['ART_CINV']==2850158]['FCT_VALUE_21'])
print(f_ar)

0.4295046047344088

In [ ]:
scope=pd.read_csv('scopeItem_list.csv', sep=';')
len(scope)

569

In [ ]:
sc_list = scope['ART_CINV'].to_list()
len(sc_list)

569

In [ ]:
f_scope = f[f['ART_CINV'].isin(sc_list)]

In [ ]:
f_scope.groupby('ART_CINV').count()

,H_DATE,FCT_VALUE_20,FCT_VALUE_21,REAL_VALUE_TO_FORECAST_21,ART_DESC
ART_CINV,,,,,
2196458,13,13,13,13,13
2196581,13,13,13,13,13
2196957,13,13,13,13,13
2196962,13,13,13,13,13
2196969,13,13,13,13,13
...,...,...,...,...,...
2905861,13,13,13,13,13
2905884,13,13,13,13,13
2908125,13,13,13,13,13
2919034,13,13,13,13,13
2926474,13,13,13,13,13

In [ ]:
f_sc_list = list(set(f_scope['ART_CINV'].to_list()))
print(len(f_sc_list))

462

In [ ]:
nu =2196581	
fa = f[f['ART_CINV']==nu]
mape_e = mape(fa['REAL_VALUE_TO_FORECAST_21'], fa['FCT_VALUE_21'])
mape_e

0.4794465387608067

In [ ]:
dic_mape21 = {}
list_mape21=[]
for nua in f_sc_list:
  fa = f[f['ART_CINV']==nua]
  mp = mape(fa['REAL_VALUE_TO_FORECAST_21'], fa['FCT_VALUE_21'])
  dic_mape21[nua]=mp
  list_mape21.append(mp)
print(dic_mape21)

dic_mape20 = {}
list_mape20=[]
for nua in f_sc_list:
  fa = f[f['ART_CINV']==nua]
  mp = mape(fa['REAL_VALUE_TO_FORECAST_21'], fa['FCT_VALUE_20'])
  dic_mape20[nua]=mp
  list_mape20.append(mp)
print(dic_mape20)

{2254855: 0.4941089907137511, 2228232: 0.718461674453716, 2572302: 0.39186928004196464, 2224146: 0.6012408694897838, 2598941: 0.401792158866109, 2215985: 0.4781745182025045, 2902067: 0.41501409071311446, 2398259: 0.8455163417018471, 2203701: 0.3849669293352021, 2218038: 0.5291441242197863, 2783287: 0.5775882528710329, 2398266: 1.2884739798935105, 2572352: 0.5574275076112717, 2289728: 0.4234208339874479, 2902085: 0.43686407094202934, 2281550: 0.18890221504953342, 2220113: 5.209798816731314e+18, 2281559: 0.3307325629176898, 2228313: 0.7047147427578059, 2220122: 0.5555829211213014, 2902108: 0.5949108564224727, 2562149: 0.9472602005002966, 2599022: 2.9343607843376764, 2599029: 3.3624890741658655, 2259067: 0.5268475275767384, 2599036: 1.2364567142714438, 2259074: 0.42230104297026394, 2246789: 0.5646315422603008, 2599050: 0.47290514117397703, 2580633: 3.9073229674204943e+18, 2486434: 0.4388382032399382, 2547889: 0.5127156989517005, 2230451: 0.6397599994831844, 2867396: 0.260668779765631, 2867403: 0.44678809485755, 2529492: 0.3641481679184889, 2529501: 0.44519647674080826, 2216161: 0.6046757581203084, 2218212: 0.7665339341972884, 2218219: 0.8631373104722255, 2216179: 0.5909991425143251, 2214135: 0.38996542509323207, 2240760: 0.4196591583597915, 2599163: 0.429869925345383, 2840828: 0.5033469987569558, 2214142: 0.39505501954802447, 2201857: 0.868110703240397, 2216195: 0.3035951847034797, 2214149: 0.8342206927595033, 2201866: 0.43988364881518377, 2797843: 0.45823829296931085, 2488598: 0.44618460826089235, 2552092: 0.43181172444537214, 2214174: 0.5081260687137922, 2210084: 0.5203304777249996, 2214183: 0.6268861857734931, 2517287: 0.5080126567020127, 2210089: 0.5925665668987252, 2257194: 9656284371120092.0, 2210094: 0.43141981325740036, 2890031: 2.6390048069624004, 2201912: 0.45729366515533754, 2869562: 0.377640420845806, 2220351: 0.2502790357447471, 2580817: 0.5151529815223583, 2224479: 0.525027842732923, 2224486: 1.3069161122656787, 2517359: 0.4022952329517667, 2214260: 0.4952714211976754, 2257273: 0.5636848110847779, 2214267: 0.514839847363823, 2257280: 0.4744835653773334, 2517377: 2.543667712612913e+17, 2238855: 1.258607603716459, 2214281: 0.5710587767624042, 2795919: 0.3545798880579184, 2214290: 0.42461669761602894, 2537887: 0.5880178082250185, 2789805: 0.48496183741876475, 2566576: 0.5218438089257897, 2501061: 0.14024216397538786, 2224582: 0.4867075122555302, 2841038: 0.5404436922080016, 2238936: 0.46910395150418116, 2216411: 0.4442478377429311, 2202079: 0.7996432346134577, 2238945: 0.37699926971941405, 2216429: 0.47650978262115545, 2208239: 0.8505937837059782, 2875889: 0.5866280199110557, 2290162: 0.3348003899061667, 2259450: 0.29489294339742705, 2753018: 1.6728446907635942e+18, 2259459: 0.36302191207077167, 2220549: 1.2144188503800723e+17, 2554374: 0.5686118803289675, 2220554: 1.3114966425078195e+17, 2259468: 0.3373258238437167, 2220564: 1.3545008917742478e+17, 2841108: 0.8994196743427512, 2216470: 0.48208627807383014, 2220569: 0.3924662550393991, 2216482: 0.46125356560739245, 2595362: 1.0858157593096185, 2263600: 0.4823266689553748, 2871862: 8.377232620987741e+17, 2595385: 0.5277815041867384, 2200123: 0.4961231881852605, 2202172: 0.39584461256700404, 2220607: 1.4418121777500792e+16, 2871871: 8.742803729257176e+17, 2718273: 0.39522681522921843, 2595394: 3.0951461887627256, 2263621: 0.3953115393443376, 2871880: 0.9386552525098129, 2546250: 0.6930163831544349, 2718287: 1.1813288253333378e+17, 2263635: 0.6779810012900455, 2222682: 0.48414012558244757, 2222687: 0.4820898173165482, 2230886: 0.3511528204850779, 2214503: 0.4490138654093816, 2718317: 0.4183224344026264, 2249325: 0.44498532894479836, 2230895: 0.7112515616572412, 2273905: 0.3784929524105174, 2751090: 0.6461911708416477, 2249332: 0.44033047147330756, 2595445: 0.5967045609219295, 2230902: 0.6016199328789357, 2824825: 1.0543619589155466e+17, 2919034: 0.46799943385573617, 2751099: 0.3281086974683818, 2835073: 0.39895098656065386, 2398852: 0.43241751322977673, 2718345: 8.487553143890554e+16, 2523787: 0.7044274586010777, 2873995: 0.8248045716886441, 2212495: 0.49950108948965083, 2556561: 2.494301332082121e+16, 2886291: 0.8270966341588737, 2521749: 0.4411928557369102, 2556568: 2.8268748430264044e+16, 2200219: 0.39817551777465, 2556575: 2.9377326800078316e+16, 2200229: 0.41717751423197846, 2718375: 0.629970601902217, 2402989: 0.4778130339734671, 2894514: 0.41137472694523924, 2402998: 0.5078093516161325, 2863799: 0.5063192011583264, 2200250: 0.44193834696140644, 2202306: 0.4615988984594275, 2894537: 0.5500641552156578, 2212558: 0.5309332150230514, 2863822: 0.7817543118503123, 2259662: 0.8016043260934762, 2249425: 0.5526307972308719, 2274004: 0.724066851254224, 2212565: 0.5094572545016928, 2863831: 0.4515765282687172, 2214616: 0.48066176479267103, 2894553: 0.6484768860624287, 2259671: 0.7172363122376584, 2841309: 0.400095514360929, 2841316: 1.2766317058269934, 2796264: 0.36601276528742155, 2841325: 0.8292775875919816, 2398961: 0.4798259687986844, 2851571: 0.5899425386433961, 2894583: 0.6600574622350646, 2243331: 0.4023733473448295, 2228998: 0.6345032392702871, 2265872: 0.4400314806762029, 2519826: 0.6020357314039433, 2274071: 0.3968310024006256, 2841367: 0.7137117776613734, 2265881: 0.30275163524352666, 2892571: 0.3441966913794319, 2808609: 0.35474844898371394, 2200360: 0.5022958662351245, 2890537: 0.471445989237364, 2210601: 7.207456872132663e+17, 2251564: 0.6825482224133375, 2200367: 0.4640091940767557, 2247475: 2.8491018462697943e+18, 2224948: 0.8198456451357636, 2224953: 0.6146636172058216, 2890555: 0.48347432010915914, 2227003: 0.4149376242980391, 2587459: 0.6221423565653635, 2890564: 0.6645136249845484, 2227012: 0.3953804221943712, 2841413: 1.177360169059245, 2241363: 0.5977857285260183, 2227028: 0.6738260827103062, 2589529: 0.5751711110982936, 2263898: 0.4795660819380618, 2861917: 0.5297673774755103, 2202461: 0.5198440077494727, 2263907: 0.6662212493219726, 2243428: 0.510525662396558, 2251620: 0.5379190289518987, 2202470: 0.5596588041315191, 2560873: 0.4420249296662239, 2589547: 0.45749101344975285, 2263916: 0.575228576311096, 2202479: 0.488359650958723, 2210673: 0.5477555016552216, 2589556: 0.5318359739263966, 2245498: 0.4580696312676423, 2589572: 0.5421413132243534, 2218886: 0.43164761955245284, 2378633: 0.4004235701450346, 2218891: 0.4460962506352474, 2302859: 0.5078736165143408, 2589581: 0.655178298198046, 2378640: 0.45179267847109383, 2218898: 0.5438375311681122, 2200469: 0.36380769045274697, 2589590: 0.3129555409562293, 2519959: 0.46022831412953, 2851739: 0.6871301269408472, 2200476: 0.5365314150546387, 2253728: 0.4024522146123306, 2200483: 0.4496124152415724, 2249636: 0.42555402399686015, 2210727: 1.510860404159465e+18, 2841513: 0.42485255311337894, 2589615: 0.48059066950595725, 2210736: 104.11696963806477, 2249654: 0.4173613396458181, 2751419: 0.47885065430854346, 2233289: 0.5509346816354207, 2214859: 0.5248906320462563, 2210763: 108.07772309504382, 2751437: 0.4830015341098701, 2214868: 0.5203623761409981, 2218968: 0.4628604819158027, 2208730: 0.4715834679995813, 2579422: 0.18587261560225551, 2268134: 0.42854263787115615, 2200551: 0.3967282187548478, 2210790: 1.7309238737057938e+18, 2196458: 0.40171719405511286, 2268139: 0.5815886565485717, 2251754: 0.4732963421096503, 2501614: 0.16814105160296727, 2223087: 0.7059789043018164, 2268144: 0.5045409917503227, 2466798: 0.8387561754775518, 2214898: 0.7982130875971845, 2227186: 0.5029192728449323, 2268149: 0.6242504701006049, 2223096: 0.42902694408258113, 2268154: 0.6870946580521496, 2227195: 0.41054976405699467, 2214907: 0.6243944508947382, 2579450: 0.16127627902905187, 2268159: 0.6241255211139394, 2214916: 0.47817248387323574, 2223114: 0.42008936890092397, 2227213: 1.461737011175097, 2227220: 1.0014124443465637, 2214934: 0.7537098732079826, 2247707: 3.9700962868973757e+18, 2597916: 0.6889570716431204, 2303008: 0.7217225701227805, 2247716: 53.56899035178913, 2223141: 0.6099127610473297, 2214950: 0.4483993109296517, 2221097: 0.5637165065547614, 2219054: 0.5137539675374329, 2214959: 0.436309306173292, 2223150: 0.49380938251512696, 2550834: 0.4647060414802334, 2247734: 66.64928038098044, 2219063: 0.48595376449423466, 2528316: 0.45796400646867913, 2266172: 0.5049865366769766, 2219079: 0.42678749619819994, 2399304: 0.5797738250333884, 2219088: 0.3552849631635194, 2587732: 0.548747555393785, 2266197: 0.5736608722911405, 2219097: 0.4339635928262386, 2266206: 0.5711114477424181, 2518112: 0.4411725685089596, 2264164: 0.47449579662907654, 2196581: 0.4794465387608067, 2266215: 0.7738880476055999, 2528360: 0.3971630403096559, 2264169: 0.49267152181827645, 2266224: 0.7505246978481684, 2235505: 0.6432909634739167, 2239607: 0.30735233056083294, 2239616: 0.4498342140274681, 2266242: 0.5379958496189471, 2249863: 0.6604585371443291, 2522248: 0.42579859942647996, 2833544: 0.5694655324570477, 2550934: 2.7037225947791427e+17, 2598040: 0.7695238898310428, 2204829: 0.37406012767080254, 2796704: 0.6403955564074868, 2227365: 0.31181942395995965, 2796718: 0.4020904011346919, 2229429: 0.5113424892547663, 2213051: 0.37700034311680525, 2213056: 0.4659550812554634, 2219204: 0.4632664978379717, 2227399: 0.5292172828325863, 2804936: 0.6356277460113076, 2213063: 0.7053162977181037, 2227404: 1.1618262568205207, 2219213: 0.517560461396289, 2303185: 0.6721960237354396, 2804945: 0.8158205100351706, 2219222: 0.4874403683058321, 2514138: 0.6021841441289664, 2219231: 0.4464150340486055, 2796769: 1.9599494452077157, 2804961: 0.2853497137947461, 2804970: 0.501760894171122, 2227442: 0.5214934885514088, 2804979: 0.6491380755997944, 2264315: 0.42510185314228954, 2804988: 0.6505300457712324, 2753808: 0.7174689271079889, 2198802: 0.3873248953832137, 2202906: 0.4247623309023211, 2213151: 7.345270284824997e+17, 2213165: 9.493414799126724e+17, 2260272: 0.47073900417838827, 2213170: 0.45775309599014313, 2200888: 0.4351473814966597, 2233657: 0.40707651987234417, 2211131: 0.5568479194806139, 2549053: 0.5304766965234815, 2239820: 0.5734278533559414, 2217303: 0.43568124214486, 2549081: 2.8810030225128296, 2866528: 0.2866507145503916, 2522468: 0.37828747522776945, 2297190: 0.4251942892620394, 2219378: 0.8126562382086415, 2264449: 0.4284330850792329, 2866565: 0.4990326310127404, 2264458: 0.5524327948850599, 2866572: 0.29842540450444416, 2264467: 1.0379860669511092e+18, 2866579: 0.40238421965494126, 2239900: 0.564243161458391, 2518433: 0.5361758183124435, 2866593: 0.34811722801126554, 2264485: 0.3594940974048406, 2518442: 0.5381725486990678, 2502061: 0.6760264383000447, 2866607: 0.2968945155459362, 2481590: 0.27976992503259446, 2866614: 0.4283591770969297, 2215357: 0.6132081259228587, 2215367: 0.4813524222210842, 2215374: 0.3964481207499848, 2209233: 0.8088763094903116, 2827735: 0.9027436099709483, 2196957: 0.5735482279132325, 2196962: 0.44745437956830764, 2518500: 0.45540506312767914, 2502120: 0.4253963323310704, 2196969: 0.4867460391821335, 2266607: 0.41193590790676576, 2196976: 0.4420536579380009, 2229751: 0.53996106931024, 2895352: 0.4720054633185693, 2231799: 0.42935354713491247, 2201084: 0.5865876331793461, 2196990: 0.33511523395807225, 2196997: 0.3823724127573407, 2197002: 0.47765249774579416, 2280990: 0.15498350010964532, 2831903: 0.454840090626593, 2555438: 1.3077229949948475, 2266681: 0.3895535028532619, 2575931: 0.38537339375825846, 2408002: 0.32970314779973176, 2244214: 0.37943666940869913, 2281085: 0.2557824741506629, 2244223: 0.3717426688384151, 2244232: 0.4073517938283582, 2870925: 7.063376369419773e+17, 2215569: 1.623750841130387, 2209427: 7.388053255278803e+17, 2203299: 0.34709788408607456, 2203304: 0.5464191000841291, 2201257: 0.5691423331844828, 2215601: 0.410687692517596, 2215610: 0.42920970560935473, 2866877: 0.31645622426172, 2266816: 0.43022538753290224, 2213573: 0.3893536582920436, 2266821: 0.4077036711628155, 2215635: 0.4462802692567225, 2555608: 0.634660566555953, 2215644: 0.48590262074955987, 2254561: 0.43720538486211713, 2215653: 0.40462701402848633, 2211575: 0.46892791710235354, 2545402: 2.537397108350206e+17, 2463486: 0.49166495411096756, 2578175: 0.48761950910461027, 2905861: 0.7346069933272474, 2834187: 5.907250380462681e+18, 2234129: 0.6339870660921415, 2197265: 0.9459560021176494, 2893587: 0.7888354407532732, 2211611: 0.4447628128236688, 2905884: 2.901011021507734e+17, 2213667: 0.44953819002264395, 2211620: 0.5153219149759046, 2520889: 0.7085111915789798, 2293561: 1.233396101817914, 2213707: 0.24438144825137698, 2215757: 0.5259090262834876, 2211663: 0.4402368957691809, 2471764: 0.6167611592494002, 2215766: 0.5241324746822869, 2258775: 0.6599758666178105, 2201435: 1.0709888156496694, 2551644: 0.4525491557837857, 2215775: 0.6668717882973015, 2213729: 0.5681839541039155, 2551651: 0.5923918283955957, 2207589: 0.4568463538933659, 2215782: 0.473696823642844, 2551658: 0.8790305625529207, 2838379: 2.9642969891945057e+18, 2213741: 5.087241340940675, 2846576: 8.227989911520755e+16, 2211697: 1.5527718653692336e+17, 2211704: 1.2182583422777757e+17, 2213755: 0.4794542229266204, 2240380: 0.3184075291625032, 2211711: 1.882695181148179e+17, 2213760: 0.5761854615209445, 2209671: 0.5222390927670543, 2926474: 0.8303040996930497, 2869134: 1.1344022973748287, 2213774: 0.547297737798742, 2807703: 0.32984762149617075, 2213792: 1.5389811096767154, 2213810: 0.39310193474974764, 2580419: 2.340884478622042e+18, 2213828: 0.31634705635200194, 2580428: 1.1318931586544326e+18, 2580437: 2.3428244907692165e+18, 2598874: 3.4881083631887893, 2908125: 0.5463900807890154, 2580455: 1.08588715630714e+18, 2580464: 1.649772542014131e+18, 2209781: 0.46948417520888697, 2263039: 6.5025050004418616e+16}

In [ ]:
f_for_scope = pd.DataFrame({'ART_CINV':f_sc_list, 'mape2020':list_mape20, 'mape2021': list_mape21})

In [ ]:
f_for_scope.shape

(462, 3)

In [ ]:
f_for_scopen = f_for_scope.merge(all,how='left', on='ART_CINV')

In [ ]:
f_for_scopen.shape

(462, 4)

In [ ]:
mape_scope = f_for_scopen[['ART_CINV','ART_DESC','mape2020','mape2021']]
mape_scope.head()

   ART_CINV                                ART_DESC  mape2020  mape2021
0   2254855    BRANDX BIO BURGER KALE HEMP 200G SV1  0.929954  0.494109
1   2228232         SURIMI STICK+COCKTAIL SAUCE SV1  0.620030  0.718462
2   2572302  BRANDX BIO TRAN.VEGETARIENE NATURE SV1  0.450618  0.391869
3   2224146              FRANKFURTER SAUC 4X70G SV1  0.614972  0.601241
4   2598941                  CHICKEN LEG FILLET SV1  0.489454  0.401792

In [ ]:
best_items = mape_scope.sort_values(by='mape2021').head()
worst_items = mape_scope.sort_values(by='mape2021').tail()

In [ ]:
print(best_items)

     ART_CINV                            ART_DESC      mape2020  mape2021
80    2501061               CHICKEN PITA 400G SV1  2.522821e-01  0.140242
380   2280990              PATE PHEASANT 150G SV1  7.368272e+18  0.154984
258   2579450  BRANDX LONDON DOUBLE BEEF 275G SV1  1.307217e-01  0.161276
247   2501614              CHICKEN GYROS 400G SV1  2.591710e-01  0.168141
240   2579422    BRANDX NY CHEESE BURGER 195G SV1  1.763213e-01  0.185873

In [ ]:
print(worst_items)

     ART_CINV                            ART_DESC      mape2020      mape2021
436   2838379           NACHO CHEESE DIP 180G SV1  4.067221e+18  2.964297e+18
29    2580633       BIO SCAMPI WITH TAIL 125G SV1  4.331191e+18  3.907323e+18
265   2247707   TOI 200G CREV GRIS FRAIS BELG SV1  2.821794e+18  3.970096e+18
16    2220113  TOI 100G CREV GRISE BELGES FRA SV1  4.469589e+18  5.209799e+18
412   2834187        MINI KNACK SAUSAGES 100G SV1  6.645554e+18  5.907250e+18

In [ ]:
f[f['ART_CINV'].isin([2501061])]

,ART_CINV,H_DATE,FCT_VALUE_20,FCT_VALUE_21,REAL_VALUE_TO_FORECAST_21,ART_DESC
42973,2501061,20201102,2643.000997,2359.19995,2400.0,CHICKEN PITA 400G SV1
42974,2501061,20201109,2665.126076,2706.81000,2328.0,CHICKEN PITA 400G SV1
42975,2501061,20201116,2689.556981,2404.75000,2334.0,CHICKEN PITA 400G SV1
42976,2501061,20201123,2695.667518,2426.99000,2544.0,CHICKEN PITA 400G SV1
42977,2501061,20201130,2695.667518,2538.35000,2532.0,CHICKEN PITA 400G SV1
42978,2501061,20201207,2695.667518,2394.66294,2226.0,CHICKEN PITA 400G SV1
42979,2501061,20201214,2695.667518,2292.21430,2316.0,CHICKEN PITA 400G SV1
42980,2501061,20201221,2689.001635,2144.00409,1764.0,CHICKEN PITA 400G SV1
42981,2501061,20201228,2689.001635,2514.51117,2094.0,CHICKEN PITA 400G SV1
42982,2501061,20210104,2695.667518,2359.19995,2991.6,CHICKEN PITA 400G SV1
42983,2501061,20210111,2695.667518,2469.83476,2916.0,CHICKEN PITA 400G SV1
42984,2501061,20210118,2695.667518,20871.90039,31675.8,CHICKEN PITA 400G SV1
42985,2501061,20210125,2695.667518,7090.95020,5226.0,CHICKEN PITA 400G SV1

In [ ]:
f[f['ART_CINV'].isin([2834187])]

,ART_CINV,H_DATE,FCT_VALUE_20,FCT_VALUE_21,REAL_VALUE_TO_FORECAST_21,ART_DESC
49824,2834187,20201102,2031.180732,1703.10,1609.8,MINI KNACK SAUSAGES 100G SV1
49825,2834187,20201109,2080.957838,1667.85,1440.0,MINI KNACK SAUSAGES 100G SV1
49826,2834187,20201116,2285.649705,2988.00,1068.0,MINI KNACK SAUSAGES 100G SV1
49827,2834187,20201123,2088.707406,1410.10,384.0,MINI KNACK SAUSAGES 100G SV1
49828,2834187,20201130,2107.069202,1413.85,0.0,MINI KNACK SAUSAGES 100G SV1
49829,2834187,20201207,2122.814182,2988.00,0.0,MINI KNACK SAUSAGES 100G SV1
49830,2834187,20201214,2135.614830,2988.00,0.0,MINI KNACK SAUSAGES 100G SV1
49831,2834187,20201221,2141.367854,1700.15,0.0,MINI KNACK SAUSAGES 100G SV1
49832,2834187,20201228,2148.573178,1561.80,0.0,MINI KNACK SAUSAGES 100G SV1
49833,2834187,20210104,2119.117491,1620.10,0.0,MINI KNACK SAUSAGES 100G SV1
49834,2834187,20210111,2095.185798,1633.30,0.0,MINI KNACK SAUSAGES 100G SV1
49835,2834187,20210118,2156.590556,1633.30,0.0,MINI KNACK SAUSAGES 100G SV1
49836,2834187,20210125,2156.590556,1513.25,0.0,MINI KNACK SAUSAGES 100G SV1

In [ ]:
fsc = f21[f21['ART_CINV'].isin(sc_list)]
(f.shape, fsc.shape)

((52364, 6), (36577, 109))

In [ ]:
fcs = fsc[['ART_CINV', 'H_DATE', 'FCT_VALUE', 'REAL_VALUE_TO_FORECAST']]
fcs.head()

     ART_CINV    H_DATE  FCT_VALUE  REAL_VALUE_TO_FORECAST
726   2196990  20190729  639.90000                   637.0
727   2196990  20190805  632.40002                   785.0
728   2196990  20190812  662.79999                   766.0
729   2196990  20190819  695.55000                   694.0
730   2196990  20190826  710.85000                   716.0

In [ ]:
fcs.to_csv('f21_tableau.csv')